Django==1.5.1
Pillow==2.0.0
South==0.8.1
django-extensions==1.1.1
django-userena==1.2.1

django-reversion
django-social-auth

-e git+https://github.com/SpreadBand/django-backcap.git#egg=django-backcap

# cms
django-cms==2.4.1
djangocms-text-ckeditor==1.0.10

psycopg2
django-notification==1.1
django-voting
