/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";

@import url('http://weloveiconfonts.com/api/?family=entypo');
@import url('http://weloveiconfonts.com/api/?family=maki');
@import url('http://fonts.googleapis.com/css?family=Dosis:200');
@import url('http://fonts.googleapis.com/css?family=Acme');

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/* base */
#feedback-button {
    a {
	font-family: 'Dosis';
	font-size: 22px;
	margin: 0px;
	color: white;
    }

    padding: 6px;
    position: fixed;
    top: 30%;
    right: -28px;
    z-index: 10000;
    background-color: #D93A05;

    text-decoration: none;
    @include rotate(270deg);
}

#feedback-form {
    ul li {
	display: inline;
    }

    input {
	width: 90%;
    }

    textarea {
	width: 90%;
	height: 50px;
    }
}


/* Profile page */
.badge-category {
    font-family: 'Acme';
    font-variant: small-caps;
}

.badges-cat-container {
//    border-left: 10px solid red;
 //   background-color: #f5f5f5;
    padding-bottom: 20px;
}    


.ca-menu {

}

.ca-menu > li{
    height: 125px;
    position: relative;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


.ca-menu > li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: inline;
    color: #333;
    position: relative;
}

.ca-icon{
    font-size: 60px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 80px;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 5px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 65px;
}

.user_services {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;

    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;

    visibility: hidden;

    li {
	display: inline;
    }

}

.ca-main{
    font-family: 'Dosis';
    font-size: 25px;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    font-family: 'Dosis';
    text-align:center;
    font-size: 15px;
    color: #666;
    line-height: 20px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    width: 100%; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    visibility: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
}
.ca-menu > li:hover{
    background-color: #000;
}
.ca-menu > li:hover .ca-icon{
    color: #f900b0;
    font-size: 120px;
    opacity: 0.4;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu > li:hover .ca-main{
    color: #ff2020;
}

.ca-menu > li:hover .ca-sub{
    color: white;
    background-color: #ff2020;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
    visibility: visible;
}

.ca-menu > li:hover .user_services {
    visibility: visible;
}



@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}

@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}