{% load i18n %}
{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>Coack.me - {% trans "Building trust between People" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    <!-- navbar -->
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'home' %}">CoAck.me</a>
          <div class="nav-collapse collapse navbar-inverse-collapse">
            <ul class="nav">
              <li><a href="{% url 'userena_profile_list' %}">{% trans "Browse profiles" %}</a></li>
              <li><a href="{% url 'service-list' %}">{% trans "Discover services" %}</a></li>
              <li><a href="/about/">{% trans "About" %}</a></li>
            </ul>
            <ul class="nav pull-right">	      
	      <!--
              <form class="navbar-search pull-left" action="">
		<input type="text" class="search-query span2" placeholder="{% trans "Search people" %}">
              </form>
	      -->
              <li class="divider-vertical"></li>
	      {% if not user.is_anonymous %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>&nbsp;{{ user.get_profile.get_full_name_or_username}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'profile-detail' user.username %}">{% trans "My profile" %}</a></li>
		  {% if user.is_staff %}
		  <li class="divider"></li>
		  <li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
		  {% endif %}
                  <li class="divider"></li>
                  <li><a href="{% url 'userena_signout' %}">{% trans "Logout" %}</a></li>
                </ul>
              </li>
	      {% else %}
	      <li>
		<p class="navbar-text">{% trans "Connect with:" %}</p>
	      </li>
	      <li>
		<a rel="nofollow" href="{% url 'socialauth_begin' 'google-oauth2' %}"><img width="20px" src="{{ STATIC_URL }}img/google_login_icon.png" alt="Google"></a>
	      </li>
	      <li>
		<a rel="nofollow" href="{% url 'socialauth_begin' 'facebook' %}"><img width="20px" src="{{ STATIC_URL }}img/facebook_login_icon.png" alt="Facebook"></a>
	      </li>
	      {% endif %}
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div>

    <!-- alert messages -->
    {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-block alert-{{ message.tags }}">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  {% if 'success' in message.tags %}
	  <i class="icon-ok"></i>
	  {% endif %}
	  {{ message }}
	</div>
      {% endfor %}
    </div>
    {% endif %}


    {% block content %}
    <h1>Hello, world!</h1>
    {% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% render_block "js" %}


    <!-- feedback  -->
    <div id="feedback-button">
      <a href="#feedback-modal" data-toggle="modal">
      {% trans "Feedback" %}
      </a>
    </div>

    <div id="feedback-modal" class="modal hide fade">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>{% trans "Leave feedback!" %}</h3>
      </div>
	<div class="modal-body">
	  <form id="feedback-form" method="POST" action="{% url 'feedback-new' %}">
	    {% csrf_token %}
	    {{ backcap_feedback_form }}
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-primary">{% trans "Send!" %}</button>
	</form>
	</div>
    </div>



  </body>
</html>
