{% extends "base.html" %}

{% load i18n %}
{% load sekizai_tags %}
{% load cms_tags %}  

{% block content %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(document).ready(function() {
	$('.hovertooltip').tooltip({});
});
</script>
{% endaddtoblock %}

 <div class="container">
		 <div class="row">
			<div class="span12">
			<legend>{% trans "Donate to Coack.me" %}</legend>
			{% blocktrans %}
			<p>CoAck.me is developped only by passionated contribution. 
			<p>Give a tip to help this service to grow (actual goal is to get 50$/week) : </p> 
			{% endblocktrans %}
			<script data-gittip-username="CoAckMe"
			src="https://www.gittip.com/assets/widgets/0002.js">
			</script>
			</div>	
		</div>
    </div>
    
   
    
{% endblock %}
