{% extends "base.html" %}

{% load i18n %}
{% load sekizai_tags %}
{% load cms_tags %}  

{% block content %}

{% addtoblock 'css' %}
<link href="{{ STATIC_URL }}css/homepage.css" rel="stylesheet" media="screen">
{% endaddtoblock %}


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/home/carpooling.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
				<h1>
					{% placeholder "carousel_one_title" or%}
					Show your lifestyle
					{% endplaceholder %}
				</h1>
			<div class="lead">
					{% placeholder "carousel_one_text" or%}
					<strong>Covoitureur</strong> ? <strong>Couchsurfeur</strong> ? <strong>Prêteur d'objets</strong> ? Revendiquez votre <strong>activité citoyenne</strong> et facilitez le passage à l'acte de ceux qui hésitent encore à utiliser ces services.
					{% endplaceholder %}
			</div>
				<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">
					{% placeholder "carousel_one_button_join" or%}
					Join and show the world!
					{% endplaceholder %}
				</a>					
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/home/couch.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
				<h1>
					{% placeholder "carousel_two_title" or%}
					Can you trust me?
					{% endplaceholder %}
				</h1>
				<div class="lead">
					{% placeholder "carousel_two_text" or%}
					Les <strong>recommandations</strong> sur des sites comme couchsurfing ont une valeur inestimable. En rassemblant celles de tous les sites de partage, cela devient votre outil pour <strong>établir la confiance avec des tiers</strong>...
					{% endplaceholder %}
				</div>
				<a class="btn btn-large btn-primary" href="{% url 'userena_profile_list' %}">
					{% placeholder "carousel_two_button_join" or%}
					Discover the community
					{% endplaceholder %}
				</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/home/cooking.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
				<h1>
					{% placeholder "carousel_three_title" or%}
					Discover new services
					{% endplaceholder %}
				</h1>
				<div class="lead">
					{% placeholder "carousel_three_text" or%}
					Naviguez vers de nouveaux services dont vous n'imaginiez même pas l'existence. Votre propre voisin partage peut-être sa cuisine du jour ?
					{% endplaceholder %}
				</div>
				<a class="btn btn-large btn-primary" href="{% url 'service-list' %}">
					{% placeholder "carousel_three_button_join" or%}
					Browse & discover...
					{% endplaceholder %}
				</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
			{% placeholder "text_bottom_1" or%}
			<h2>CoAck.me?</h2>
			<p>
			<b>Co</b>llectively <b>Ack</b>nowledge <b>Me</b>, en Français "Reconnaissez moi collectivement" permet de rassembler sur une seule page l'ensemble des services de collaboration et de citoyenneté que vous utilisez. Vous pouvez mettre en lien vos profils sur ces sites. Un bon moyen pour révéler la richesse des données construites sur ces plateformes.
			</p>
			{% endplaceholder %}
          <p><a class="btn" href="/about">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          {% placeholder "text_bottom_2" or%}
          <h2>Contribuez</h2>
          <p>
			  CoAck.me est un <strong>bien commun</strong> développé sous licence libre AGPL et disponible sur <a href="https://github.com/UnissonCo/coack.me">Github</a>. Cette plateforme vous appartient, les données que vous y assemblez aussi. Construit en logique contributive, chacun peut participer à sa construction.
		  </p>
		  {% endplaceholder %}
          <p><a class="btn" target="_new" href="https://rizzoma.com/topic/89300e9296026f3e12ab01ac6094bd9c/0_b_5cb5_41bbi/">{% trans "Join the discussion" %} &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          {% placeholder "text_bottom_3" or%}
          <h2>Support & donate</h2>
          <p>
          Pour encourager le projet (nouvelles fonctionnalités, améliorations, ...), vous pouvez faire des micro-dons. C'est ce qui nous permet d'éviter d'avoir à mettre en place des modèles économiques détournés (ex: publicité) ou de faire intervenir des investisseurs extérieurs non concernés par la finalité du projet. Cette page affiche l'ensemble des dépenses réalisées et leurs bénéficiaires.
          </p>
          {% endplaceholder %}
          <p><a class="btn" href="donation">{% trans "Make a donation" %} &raquo;</a></p>
        </div><!-- /.span4 --
      </div><!-- /.row -->

    <div class="container">
      <!-- FOOTER -->
      <footer>
        <p><a href="/legalnotice">Privacy</a> &middot; <a href="/termsofuse">Terms</a></p>
      </footer>

    </div><!-- /.container -->

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 id="myModalLabel">{% trans "Join or connect with:" %} </h4>
	  </div>
	  <div class="modal-body">
		<a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-danger btn-block">{% trans "Connect with Google" %} | <i class="entypo-gplus"></i></a>
		<a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-primary btn-block">{% trans "Connect with Facebook" %} | <i class="entypo-facebook"></i></a>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
{% endblock %}
