{% extends 'base.html' %}
{% load i18n %}
{% load sekizai_tags %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
<div class="container">

{% addtoblock 'js' %}
<script type="text/javascript">
$(document).ready(function() {
  $('.popinfo').popover({placement: 'top', trigger: 'hover', html: true});
  $('.tipinfo').tooltip({placement: 'top'});
});
</script>
{% endaddtoblock %}
  <div class="row">
    <div class="span9">
      <div class="media">
	<a class="pull-left" href="#">
	  <img class="media-object" src="{{ profile.get_mugshot_url }}">
	</a>
	<div class="media-body">
	  <div class="page-header">
	    <h1>{{ profile.get_full_name_or_username }} <small> {{ profile.location|default:"Earth" }}</small></h1>
	  </div>

	</div>
      </div>

      <!-- buttons -->
      {% if profile.user == user %}
      <div class="row">
	<div class="offset5 span4 pull-right">
	  <a class="btn btn-small" href="{% url 'service-add' %}"><i class="icon-plus-sign"></i>&nbsp;{% trans "Add a service" %}</a>
	  <a class="btn btn-small" href="{% url 'profile-edit' user.username %}"><i class="icon-edit"></i>&nbsp;{% trans "edit your profile"|capfirst %}</a>
	</div>
      </div>
      {% endif %}

      <br/>
      
      <!-- services -->
      {% regroup badges by category as category_list %}

      {% if not badges %}
      <div class="well">
	<h2>{% trans "Hi there!" %}</h2>
	{% url 'service-add' as service_add_url %}
	<p>
	  {% blocktrans with service_add_url=service_add_url %}Looks like you <strong>haven't added any service yet</strong>. Well, you can <a href="{{ service_add_url }}">start right now</a>!{% endblocktrans %}
	</p>

	<p>{% trans "Once you have added a service, you'll <strong>unlock badges</strong>, such as 'Food Sharer'." %}</p>
      </div>
      {% endif %}
      
      {% for category in category_list %}
      <div class="row">
	<div class="span2">
	  <h5>{{ category.grouper }}</h5>
	</div>

	<div class="span7 pull-right">
	    {% for badge in category.list %}
	    <div class="media">
	      <div class="pull-left tipinfo" data-title="{{ badge.description }}">
		<img width="40px" class="media-object" src="{{ STATIC_URL }}img/badges/_default.jpg" class="img-circle">
	      </div>
	      <div class="media-body">
		<h5 class="media-heading">{{ badge.name }}</h5>
		<i>Vous avez ce badge car vous utilisez</i>
		<ul>
		  {% for service in badge.user_services %}
		  <li>
		    <a class="popinfo" 
		       data-title="<a href='{{ service.service.website }}'>{{ service.service.name }}</a>" 
		       data-content="<img src='{{ service.service.logo_url }}' alt='{{ service.service.name }}'/><br/>{{ service.service.description }}"
		       href="{{ service.service.website }}"
		       >{{ service.service.name }}
		    </a>
		    {% if profile.user == user %}
		    <a href="{% url 'service-del' service.id %}"><i class="icon-remove-sign"></i></a>
		    {% endif %}
		    [<a target="_new" href="{{ service.service.profile_url_template }}{{ service.username }}">{% trans "Profile" %}</a>]
		  </li>
		  {% endfor %}
		</ul>
	      </div>
	    </div>
	    {% endfor %} <!-- end badges -->
	</div>
      </div>
      <br/>
      {% endfor %}


    </div> <!-- .span9 -->

    <div class="span3">	
	<div class="well">
	  <h4>{% trans "About me" %}</h4>
	  <p>
	  {{ profile.about|default:"I'm a human being." }}
	  </p>

	  <!--
	  <span class="badge badge-inverse">10</span> 
	  <a class="btn btn-small" href="#"><i class="icon-star-empty"></i> {% trans "Endorse" %}</a>
	  -->

	  <hr/>
	  <p>
	  {% if profile.location or profile.twitter %}
	    <i class="icon-home"></i>
	  {% endif %}
	  {% if profile.location %}
	  <a href="{{ profile.website }}">{% trans "Website" %}</a>
	  {% endif %}
	  {% if profile.location and profile.twitter %}
	  |
	  {% endif %}
	  {% if profile.twitter %}	  
	  <a href="https://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a>
	  {% endif %}
	  </p>
	</div>
    </div>

  </div>
</div>
{% endblock %}
